.pdfview{
    background-color: rgb(53, 50, 50);
    margin: 0 auto;
    /* position: absolute;; */
    padding: 2rem;
    height: 90%;
    width: 93%; 
    border-radius: 10px;
    margin-bottom: 3rem;
    position: fixed;
    left: 0;
    top: 0;
}



.imageview{
    background-color: rgb(53, 50, 50);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 96%;
    padding: 1rem;
    border-radius: 10px
}

.imgname{
    color: white;
    padding: .5rem;
}

.imageview img{
    width: 30%;
    height: 50%;
    object-fit: cover;
    padding: 1rem;
}


.close{
    position: absolute;
    right: 0;
    top: 0;
    margin: .3rem;
    cursor: pointer;
    padding: .5rem;
    border-radius: 10px;
    background-color: red;
}


@media screen and (max-width: 500px) {
    .pdfview{
        top: 0;
        left: 0;
        /* height: 85%; */
        /* width: 100%; */
    }
    .imageview img{
        width: 90%;
        height: 90%;
        object-fit: contain;
        padding: 1rem;
    }
    
}
