.pdfview{
    background-color: rgb(53, 50, 50);
    

    height: 30rem;
    width: 100%; 
    border-radius: 10px;
    margin-bottom: 3rem;
}



.imageview{
    background-color: rgb(53, 50, 50);
    /* position: fixed; */
    left: 6;
    top: 0;
    margin: 1%;
    padding: 1%;
    height: 91%;
    width: 96%;
    border-radius: 10px
}

.imgname{
    color: white;
    padding: .5rem;
}

.imageview img{
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    padding: 1rem;
}



@media screen and (max-width: 500px) {
    .pdfview{
        top: 0;
        left: 0;
        /* height: 85%; */
        /* width: 100%; */
    }
    .imageview img{
        width: 90%;
        height: 90%;
        object-fit: contain;
        padding: 1rem;
    }
    
}
